<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vantage.PMS</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vantage.PMS.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Vantage.PMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="frontOfficeNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Front Office
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="frontOfficeNavbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-page="/FrontOffice/Index">Dashboard</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/FrontOffice/Reservations/Index">Reservations</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/FrontOffice/Guests/Index">Guests</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="adminNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="adminNavbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Hotels/Index">Hotels</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Properties/Index">Properties</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Departments/Index">Departments</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/RoomTypes/Index">Room Types</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Rooms/Index">Rooms</a></li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Vantage.PMS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
