@page "{id:int}"
@model Vantage.PMS.Pages.Purchasing.Suppliers.DeleteModel
@{
    ViewData["Title"] = "Delete Supplier";
}

<h1 class="h3 mb-3">Delete Supplier</h1>
<div class="alert alert-warning">Delete supplier <strong>@Model.Supplier.SupplierName</strong>?</div>
<form method="post">
    <input type="hidden" asp-for="Supplier.Id" />
    <button class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-outline-secondary">Cancel</a>
</form>
