@page "{id:int}"
@model Vantage.PMS.Pages.Inventory.Items.DeleteModel
@{
    ViewData["Title"] = "Delete Inventory Item";
}

<h1 class="h3 mb-3">Delete Inventory Item</h1>
<div class="alert alert-warning">
    Delete item <strong>@Model.InventoryItem.ItemCode - @Model.InventoryItem.ItemName</strong>?
</div>
<form method="post">
    <input type="hidden" asp-for="InventoryItem.Id" />
    <button class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-outline-secondary">Cancel</a>
</form>
