@page "{id:int}"
@model Vantage.PMS.Pages.Admin.Properties.DeleteModel

@{
    ViewData["Title"] = "Delete Property";
}

<h1>Delete Property</h1>
<p class="text-danger">Are you sure you want to delete this property?</p>

<dl class="row mt-3">
    <dt class="col-sm-3">Hotel</dt>
    <dd class="col-sm-9">@Model.Property.Hotel?.Name</dd>

    <dt class="col-sm-3">Code</dt>
    <dd class="col-sm-9">@Model.Property.Code</dd>

    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Property.Name</dd>

    <dt class="col-sm-3">City</dt>
    <dd class="col-sm-9">@Model.Property.City</dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="Property.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-outline-secondary" asp-page="./Index">Cancel</a>
</form>
